<div class="about-us-container">
  <h2>About Us</h2>
</div>

<div>
  <p>Welcome to Lifecare! We are dedicated to providing a convenient way for you to order your medicines online and have them delivered to your doorstep.</p>
</div>

<div>
  <p>Our mission is to ensure easy access to a wide range of medicines, health products, and wellness essentials. Whether you need prescription medications or over-the-counter remedies, we've got you covered.</p>
</div>

<ul>
  <li>Extensive Inventory: Explore a diverse range of medicines and health products from reputed pharmaceutical brands.</li>
  <li>Convenient Ordering: Order your medications effortlessly from the comfort of your home using our user-friendly platform.</li>
  <li>Reliable Delivery: Enjoy prompt and reliable delivery services, ensuring your medications reach you safely and on time.</li>
  <li>Quality Assurance: We source our medicines from licensed pharmacies to guarantee the highest quality and authenticity.</li>
</ul>


<div>
  <h2>Contact Us</h2>
</div>

<div>
  <p>If you have any questions or need assistance, feel free to reach out to our customer support:</p>
  <p>Name: Neelam Jahnavi</p>
  <p>Email: pharmacylifecare12&#64;gmail.com</p>
  <p>Phone: +1 (123) 456-7890</p>
</div>