<div class="forgot-password-container">
    <h3 class="forgot-password-header">Forgot Password</h3>
    <form [formGroup]="forgetForm" class="flex flex-col">
      <div class="form-input">
        <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="Email">
        <span *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].dirty" class="error-message">*Email is required</span>
        <span *ngIf="forgetForm.hasError('email','email')" class="error-message">*Email is Invalid</span>
      </div>
      <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" (click)="submit()" class="submit-button">Submit</button>
    </form>
  </div>
  