<div class="reset-password-container">
    <h3 class="reset-password-header">Reset Password</h3>
    <form (ngSubmit)="submit($event)" [formGroup]="resetForm" class="flex flex-col">
      <div class="form-input">
        <label for="password">New Password</label>
        <input formControlName="password" type="password" class="p-2 border border-gray-300 rounded" placeholder="Enter your new password">
        <span *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.dirty" class="error-message">*Password is required</span>
      </div>
      <div class="form-input">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="p-2 border border-gray-300 rounded" placeholder="Confirm your new password">
        <span *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.dirty" class="error-message">*Confirmation is required</span>
        <span *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.dirty" class="error-message">*Passwords do not match</span>
      </div>
      <button [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid" (click)="submit()" class="submit-button">Submit</button>
    </form>
  </div>
  